@using Contracts.Journal
@using Frontend.Services

@inherits LayoutComponentBase

@inject HttpClient HttpClient
@inject JournalState JournalState

<div class="page">
    <div class="sidebar">
        <JournalNavMenu JournalContents="_journalContents" />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private JournalContentsResponse? _journalContents;

    protected override async Task OnInitializedAsync()
    {
        await JournalState.WaitForJournalIdAsync();

        _journalContents = await HttpClient.GetFromJsonAsync<JournalContentsResponse>("api/journal/" + JournalState.JournalId.ToString() + "/contents/");
    }
}