@using Contracts.Journal
@using Frontend.Services

@inject HttpClient HttpClient
@inject JournalState JournalState

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Frontend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            @if (JournalContents != null)
            {
                @foreach (var pt in JournalContents.PageTypes)
                {
                    @foreach (var page in pt.Pages!)
                    {
                        var pageUrl = $"/journal/{JournalContents.JournalId}/{pt.Name}/{page.Id}";
                        <NavLink class="nav-link" href="@pageUrl" Match="NavLinkMatch.All">
                            @pt.Name
                        </NavLink>
                    }
                }
            }
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public JournalContentsResponse? JournalContents { get; set; }

    // private Dictionary<int, string> PagesRusNames = new Dictionary<int, string>()
    // {
    //     { 1, "Титульная страница" },
    //     { 2, "Контактные телефоны" },
    //     { 3, "Контактные телефоны" },
    // };
}
    