@using Contracts.Journal
@using Contracts.Journal.Pages
@using Frontend.Services

@inherits LayoutComponentBase

@inject JournalState JournalState
@inject AppState AppState

<div class="page">
    <div class="sidebar">
        <JournalNavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (JournalState.CurrentPageNode != null)
            {
                <a href="@GetPreviousPageUrl()" class="btn btn-primary">Назад</a>
                <a href="@GetNextPageUrl()" class="btn btn-primary">Вперед</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AppState.FetchUser();
        JournalState.OnInitialize += HandleOnInitialize;
    }

    private void HandleOnInitialize() => StateHasChanged();

    private string GetNextPageUrl()
    {
        if (JournalState.CurrentPageNode == null) return ".";

        var nextPageNode = JournalState.CurrentPageNode.Next;
        if (nextPageNode == null) return ".";

        return $"/journal/{JournalState.JournalId}/{nextPageNode!.Value.PageType!.Name}/{nextPageNode.Value.Id}";
    }

    private string GetPreviousPageUrl()
    {
        if (JournalState.CurrentPageNode == null) return ".";

        var prevPageNode = JournalState.CurrentPageNode.Previous;
        if (prevPageNode == null) return ".";

        return $"/journal/{JournalState.JournalId}/{prevPageNode!.Value.PageType!.Name}/{prevPageNode.Value.Id}";
    }

    public void Dispose()
    {
        JournalState.OnInitialize -= HandleOnInitialize;
    }
}