@using Contracts.Journal
@using Contracts.Journal.Pages
@using Frontend.Components.Buttons
@using Frontend.Components.Utils
@using Frontend.Services
@using Frontend.Utils

@inherits LayoutComponentBase

@inject JournalState JournalState
@inject AppState AppState
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <JournalNavMenu />
    </div>

    <main>
        <div class="top-row px-4 justify-content-between">
            @if (JournalState.CurrentPageNode != null)
            {
                <div class="col-6">
                    @if (JournalState.CurrentPageType!.MaxPages != 1 && !JournalState.IsCurrentPageApproved &&
                        !((JournalState.CurrentPageType.Id == 16 || JournalState.CurrentPageType.Id == 17) && !AppState.CanApprovePages))
                    {
                        <DeleteButton @onclick="DeletePage">Удалить страницу</DeleteButton>
                    }
                    @if (JournalState.CurrentPageType!.Id == 9)
                    {
                        <ReloadButton AdditionalClasses="ms-3" @onclick="SynchronizeStudents">Синхронизировать студентов</ReloadButton>
                    }
                    <DownloadButton AdditionalClasses="ms-3" @onclick="DownloadPage">Скачать страницу</DownloadButton>
                </div>

                <div class="col-0">
                    <button @onclick="GoToThePrevPage" class="btn btn-primary ms-5" disabled="@IsPrevButtonDisabled()">Назад</button>
                    <button @onclick="GoToTheNextPage" class="btn btn-primary ms-2" disabled="@IsNextButtonDisabled()">Вперед</button>
                </div>
            }
        </div>

        <article class="content px-4">
            @Body
            @if (JournalState.CurrentPageNode != null && AppState.CanApprovePages)
            {
                <ApproveButton @onclick="JournalState.ToggleIsCurrentPageApproved" IsApproved="JournalState.IsCurrentPageApproved" AdditionalClasses="floating-button" />
            }
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AppState.InitializeUser();
        JournalState.OnInitialize += HandleOnInitialize;
        JournalState.OnToggleIsApproved += HandleOnInitialize;
    }

    private void HandleOnInitialize() => StateHasChanged();

    private async Task SynchronizeStudents()
    {
        var response = await HttpClient.PostAsync("api/journal/personalizedaccountingcard/synchronizestudents/" + JournalState.JournalId, null);
        if (response.IsSuccessStatusCode)
        {
            var ids = await response.Content.ReadFromJsonAsync<List<int>>();
            if (ids != null && ids.Count != 0) await JournalState.FetchContents();
        }
    }

    private bool IsPrevButtonDisabled() => JournalState.CurrentPageNode == null || JournalState.CurrentPageNode.Previous == null;
    private bool IsNextButtonDisabled() => JournalState.CurrentPageNode == null || JournalState.CurrentPageNode.Next == null;

    private void GoToThePrevPage() => NavigationManager.NavigateTo(GetPreviousPageUrl());
    private void GoToTheNextPage() => NavigationManager.NavigateTo(GetNextPageUrl());

    private string GetNextPageUrl()
    {
        if (JournalState.CurrentPageNode == null) return ".";

        var nextPageNode = JournalState.CurrentPageNode.Next;
        if (nextPageNode == null) return ".";

        return $"/journal/{JournalState.JournalId}/{nextPageNode!.Value.PageType!.Name}/{nextPageNode.Value.Id}";
    }

    private string GetPreviousPageUrl()
    {
        if (JournalState.CurrentPageNode == null) return ".";

        var prevPageNode = JournalState.CurrentPageNode.Previous;
        if (prevPageNode == null) return ".";

        return $"/journal/{JournalState.JournalId}/{prevPageNode!.Value.PageType!.Name}/{prevPageNode.Value.Id}";
    }

    private async Task DownloadPage()
    {
        await JSRuntime.InvokeVoidAsync("downloadPage", JournalState.JournalId, JournalState.CurrentPageId, PageUtils.PagesRusNames[JournalState.CurrentPageType!.Id]);
    }

    private async Task DeletePage()
    {
        var response = await HttpClient.DeleteAsync("api/page/" + JournalState.CurrentPageId);
        if (response.IsSuccessStatusCode)
        {
            JournalState.DeleteCurrentPage();
        }
    }

    public void Dispose()
    {
        JournalState.OnInitialize -= HandleOnInitialize;
        JournalState.OnToggleIsApproved -= HandleOnInitialize;
    }
}