
@if (IsVisible)
{
    <div class="mb-3 alert @GetAlertClass() d-flex justify-content-between">
        <div>
            @switch (this.Type)
            {
                case "success":
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"></path>
                        </svg>
                        Успех
                    </div>
                    break;

                case "error":
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"></path>
                        </svg>
                        Ошибка
                    </div>
                    break;

                default:
                    break;
            }
            @ChildContent
        </div>
        @if (OnClose != null)
        {
            <button type="button" class="btn-close" @onclick="OnClose"></button>
        }
    </div>
}


@code {
    [Parameter]
    public string Type { get; set; } = "success";

    [Parameter]
    public bool IsVisible { get; set; } = true;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Action? OnClose { get; set; }

    private string GetAlertClass()
    {
        switch (this.Type)
        {
            case "success":
                return "alert-success";

            case "error":
                return "alert-danger";

            default:
                return "alert-success";
        }
    }
}
