
<div class="alert-bottom">
    <Alert Type="error" IsVisible="IsVisible" OnClose="OnClose">
        @ChildContent
    </Alert>
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; } = true;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Action? OnClose { get; set; }
}

<style>
    .alert-bottom {
        position: fixed;
        bottom: 0;
        z-index: 1001;
    }
</style>