@using Frontend.Components.Buttons
@using Frontend.Security
@using Frontend.Services

@inherits LayoutComponentBase

@inject AppState AppState
@inject AuthService AuthService
@inject JournalState JournalState
@inject JwtAuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 justify-content-between">
            <div class="col-6">
                @if (NavigationManager.Uri.Contains("JournalKeeping"))
                {
                    <DownloadButton AdditionalClasses="me-3" @onclick="DownloadJournalKeeping">Скачать страницу</DownloadButton>
                }
            </div>
            <div class="col-5"></div>
            <div class="col-0">
                <button @onclick="Logout" class="btn btn-primary">Выйти</button>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected async override Task OnInitializedAsync()
    {
        await AppState.InitializeUser();
        JournalState.Reset();
    }

    private async Task DownloadJournalKeeping()
    {
        await JSRuntime.InvokeVoidAsync("downloadJournalKeeping");
    }

    private async Task Logout()
    {
        await AuthService.Logout();
    }
}