@page "/journal/{journalId:int}/contactphones/{pageId:int}"
@rendermode InteractiveServer

@using Contracts.Journal
@using Contracts.Journal.ContactPhones

@inject HttpClient HttpClient

<PageTitle>Контактные Телефоны</PageTitle>

<h3>КОНТАКТНЫЕ ТЕЛЕФОНЫ</h3>

@if (_pageData == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var phone in _pageData.PhoneNumbers)
            {
                <tr>
                    <td>
                        <input @bind="phone.Name" @bind:after='async () => await Update(phone)' />
                    </td>
                    <td>
                        <input type="tel" @bind="phone.PhoneNumber" @bind:after='async () => await Update(phone)' />
                    </td>
                    <td>
                        <button @onclick="async () => await Delete(phone)">Удалить</button>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <input @bind="PhoneToAdd.Name" @bind:after="Add"/>
                </td>
                <td>
                    <input type="tel" @bind="PhoneToAdd.PhoneNumber" @bind:after="Add" />
                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int PageId { get; set; }

    [Parameter]
    public int JournalId { get; set; }

    private ContactPhonesPageResponse? _pageData;

    private CreateContactPhoneRequest PhoneToAdd = new("", "", -1);

    protected override async Task OnInitializedAsync()
    {
        _pageData = await HttpClient.GetFromJsonAsync<ContactPhonesPageResponse>("api/journal/contactphone/" + PageId.ToString());
        PhoneToAdd.PageId = PageId;
    }

    private async Task Update(ContactPhoneResponse phone)
    {
        Console.WriteLine("Update phone");

        var request = new UpdateContactPhoneRequest(phone.Name, phone.PhoneNumber);
        var response = await HttpClient.PutAsJsonAsync<UpdateContactPhoneRequest>("api/journal/contactphone/" + phone.Id, request);

        if (response.IsSuccessStatusCode)
        {
            // var updatedPhone = await response.Content.ReadFromJsonAsync<ContactPhoneResponse>();

            // var index = _pageData!.PhoneNumbers.FindIndex(p => p.Id == updatedPhone!.Id);
            // _pageData.PhoneNumbers.RemoveAt(index);
            // _pageData.PhoneNumbers.Insert(index, new ContactPhoneResponse(updatedPhone!.Id, updatedPhone.Name, updatedPhone.PhoneNumber));
        }
    }

    private async Task Add()
    {
        Console.WriteLine("Add phone");

        if (string.IsNullOrEmpty(PhoneToAdd.Name) || string.IsNullOrEmpty(PhoneToAdd.PhoneNumber)) return;

        var response = await HttpClient.PostAsJsonAsync<CreateContactPhoneRequest>("api/journal/contactphone", PhoneToAdd);

        if (response.IsSuccessStatusCode)
        {
            var addedPhone = await response.Content.ReadFromJsonAsync<ContactPhoneResponse>();
            _pageData!.PhoneNumbers.Add(addedPhone!);

            PhoneToAdd.Name = "";
            PhoneToAdd.PhoneNumber = "";
        }
    }

    private async Task Delete(ContactPhoneResponse phone)
    {
        Console.WriteLine("Delete phone");

        var response = await HttpClient.DeleteAsync("api/journal/contactphone/" + phone.Id);

        if (response.IsSuccessStatusCode) _pageData!.PhoneNumbers.Remove(phone);
    }
}
