@page "/journal/{journalId:int}/groupactives/{pageId:int}"
@rendermode InteractiveServer

@using Contracts.Journal.GroupActives

@inject HttpClient HttpClient

<PageTitle>Актив учебной группы</PageTitle>

<h3>АКТИВ УЧЕБНОЙ ГРУППЫ</h3>

@if (_pageData == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    @foreach (var active in _pageData.GroupActives)
    {
        
    }
}

@code {
    [Parameter]
    public int PageId { get; set; }

    [Parameter]
    public int JournalId { get; set; }

    public GroupActivesPageResponse? _pageData;

    protected override async Task OnInitializedAsync()
    {
        _pageData = await HttpClient.GetFromJsonAsync<GroupActivesPageResponse>("api/journal/groupactive/" + PageId.ToString());
    }
}
