@using Contracts.ActivityTypes
@using Contracts.Journal.PersonalizedAccountingCards.IndividualInformation
@using Contracts.Journal.PersonalizedAccountingCards.ParentalInformation
@using Contracts.Journal.PersonalizedAccountingCards.StudentEncouragements
@using Contracts.Mappers.Journal.PersonalizedAccountingCards
@using Frontend.Components.Buttons

@inject HttpClient HttpClient

@if (_individualInformation == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <h5><b>Индивидуальные сведения</b></h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center align-middle">
                    Участие в научной работе,<br/>
                    олимпиадах, студенческих конференциях,<br/>
                    спортивной и общественной жизни вуза,<br/>
                    факультета, группы, общежития,<br/>
                    ПО ОО "БРСМ", и т.д
                </th>
                <th class="text-center align-middle">Вид участия</th>
                <th class="text-center align-middle">Дата начала</th>
                <th class="text-center align-middle">Дата окончания</th>
                <th class="text-center align-middle">Результат</th>
                <th class="text-center align-middle">Примечание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in _individualInformation)
            {
                <tr>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                            @bind="record.ActivityName" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                            @bind="record.ParticipationKind" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <input type="date" @bind="record.StartDate" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <input type="date" @bind="record.EndDate" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                            @bind="record.Result" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                            @bind="record.Note" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <DeleteButton @onclick="async () => await Delete(record)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <AddButton @onclick="Add">Добавить строку</AddButton>
}

@code {
    [Parameter]
    public int CardId { get; set; }

    private List<IndividualInformationRecordResponse>? _individualInformation;

    protected override async Task OnInitializedAsync()
    {
        _individualInformation = await HttpClient.GetFromJsonAsync<List<IndividualInformationRecordResponse>>
                ("api/journal/personalizedaccountingcard/individualinformation/" + CardId);
    }

    private async Task Add()
    {
        var request = new CreateIndividualInformationRecordRequest(null, null, null, null, null, null, CardId);
        var response = await HttpClient.PostAsJsonAsync<CreateIndividualInformationRecordRequest>("api/journal/personalizedaccountingcard/individualinformation", request);

        if (response.IsSuccessStatusCode)
        {
            var addedRecord = await response.Content.ReadFromJsonAsync<IndividualInformationRecordResponse>();
            _individualInformation!.Add(addedRecord!);
        }
    }

    private async Task Update(IndividualInformationRecordResponse record)
    {
        var request = record.ToRequest();
        var response = await HttpClient.PutAsJsonAsync<UpdateIndividualInformationRecordRequest>
            ("api/journal/personalizedaccountingcard/individualinformation/" + record.Id, request);

        if (!response.IsSuccessStatusCode)
        {
            // var updatedRecord = await response.Content.ReadFromJsonAsync<EducationalProcessScheduleRecordResponse>();
            // record = updatedRecord!;
        }
    }

    private async Task Delete(IndividualInformationRecordResponse record)
    {
        var response = await HttpClient.DeleteAsync("api/journal/personalizedaccountingcard/individualinformation/" + record.Id);

        if (response.IsSuccessStatusCode) _individualInformation!.Remove(record);
    }
}
