@inherits TablePageBase

@using Contracts.Journal.PersonalizedAccountingCards.ParentalInformation
@using Contracts.Mappers.Journal.PersonalizedAccountingCards
@using Frontend.Components.Buttons
@using Frontend.Components.Utils

@inject HttpClient HttpClient

@if (_parentalInformation == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <h5><b>Сведения о родителях и/или других родственниках, законных представителях</b></h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center align-middle">Фамилия</th>
                <th class="text-center align-middle">Имя</th>
                <th class="text-center align-middle">Отчество</th>
                <th class="text-center align-middle">Место жительства и/или место пребывания</th>
                <th class="text-center align-middle">Место работы</th>
                <th class="text-center align-middle">Занимаемая должность</th>
                <th class="text-center align-middle">Телефон (дом.)</th>
                <th class="text-center align-middle">Телефон (раоч.)</th>
                <th class="text-center align-middle">Телефон (моб.)</th>
                <th class="text-center align-middle">Другие сведения</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in _parentalInformation)
            {
                <tr class="@GetRowClass(record.Id)">
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                        @bind="record.LastName" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                        @bind="record.FirstName" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                        @bind="record.MiddleName" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                        @bind="record.PlaceOfResidence" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                        @bind="record.PlaceOfWork" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                        @bind="record.Position" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <input type="tel" maxlength="19" @bind="record.HomePhoneNumber" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <input type="tel" maxlength="19" @bind="record.WorkPhoneNumber" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <input type="tel" maxlength="19" @bind="record.MobilePhoneNumber" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                        @bind="record.OtherInformation" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <DeleteButton @onclick="() => OpenDeleteModal(record.Id)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <AddButton @onclick="Add">Добавить строку</AddButton>

    <ConfirmDeleteModal IsVisible="_isDeleteModalVisible" OnClose="CloseDeleteModal" IdToDelete="_idToDelete" OnDeleteById="Delete" />

    <AlertBottom IsVisible="_isServerErrorAlertVisible" OnClose="CloseServerErrorAlert">@_errorMessage</AlertBottom>
}

@code {
    [Parameter]
    public int CardId { get; set; }

    private List<ParentalInformationRecordResponse>? _parentalInformation;

    protected override async Task OnParametersSetAsync()
    {
        _parentalInformation = await HttpClient.GetFromJsonAsync<List<ParentalInformationRecordResponse>>
                ("api/journal/personalizedaccountingcard/parentalinformation/" + CardId);
    }

    private async Task Add()
    {
        var request = new CreateParentalInformationRecordRequest(null, null, null, null, null, null, null, null, null, null, CardId);
        var response = await HttpClient.PostAsJsonAsync<CreateParentalInformationRecordRequest>("api/journal/personalizedaccountingcard/parentalinformation", request);

        if (response.IsSuccessStatusCode)
        {
            var addedRecord = await response.Content.ReadFromJsonAsync<ParentalInformationRecordResponse>();
            _parentalInformation!.Add(addedRecord!);
        }
        else
        {
            var errorMessage = (await response.Content.ReadAsStringAsync()).Split('\n').FirstOrDefault();
            ShowServerErrorAlert(errorMessage);
        }
    }

    private async Task Update(ParentalInformationRecordResponse record)
    {
        _rowsWithErrors.Remove(record.Id);
        CloseServerErrorAlert();

        var request = record.ToRequest();
        var response = await HttpClient.PutAsJsonAsync<UpdateParentalInformationRecordRequest>
            ("api/journal/personalizedaccountingcard/parentalinformation/" + record.Id, request);

        if (!response.IsSuccessStatusCode)
        {
            _rowsWithErrors.Add(record.Id);
            var errorMessage = (await response.Content.ReadAsStringAsync()).Split('\n').FirstOrDefault();
            ShowServerErrorAlert(errorMessage);
        }
    }

    private async Task Delete(int recordId)
    {
        var response = await HttpClient.DeleteAsync("api/journal/personalizedaccountingcard/parentalinformation/" + recordId);

        if (response.IsSuccessStatusCode) _parentalInformation!.RemoveAll(r => r.Id == recordId);
        else
        {
            var errorMessage = (await response.Content.ReadAsStringAsync()).Split('\n').FirstOrDefault();
            ShowServerErrorAlert(errorMessage);
        }
    }
}
