@using Contracts.Journal.PersonalizedAccountingCards.StudentDisciplinaryResponsibilities
@using Contracts.Mappers.Journal.PersonalizedAccountingCards
@using Frontend.Components.Buttons

@inject HttpClient HttpClient

@if (_studentResponsibilities == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <h5><b>Отметки о дисциплинарной ответственности</b></h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-1 text-center">Дата</th>
                <th class="col-8 text-center">За какой проступок</th>
                <th class="col-3 text-center">Вид</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in _studentResponsibilities)
            {
                <tr>
                    <td>
                        <input type="date" @bind="record.Date" @bind:after="async () => await Update(record)" class="input" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                            @bind="record.Misdemeanor" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <textarea rows="1" style="overflow:hidden; resize:none;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                            @bind="record.DisciplinaryResponsibilityKind" @bind:after="async () => await Update(record)" class="input fullwidth" />
                    </td>
                    <td>
                        <DeleteButton @onclick="async () => await Delete(record)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <AddButton @onclick="Add">Добавить строку</AddButton>
}

@code {
    [Parameter]
    public int CardId { get; set; }

    private List<StudentDisciplinaryResponsibilityResponse>? _studentResponsibilities;

    protected override async Task OnInitializedAsync()
    {
        _studentResponsibilities = await HttpClient.GetFromJsonAsync<List<StudentDisciplinaryResponsibilityResponse>>
                ("api/journal/personalizedaccountingcard/studentdisciplinaryresponsibility/" + CardId);
    }

    private async Task Add()
    {
        var request = new CreateStudentDisciplinaryResponsibilityRequest(null, null, null, CardId);
        var response = await HttpClient.PostAsJsonAsync<CreateStudentDisciplinaryResponsibilityRequest>
            ("api/journal/personalizedaccountingcard/studentdisciplinaryresponsibility", request);

        if (response.IsSuccessStatusCode)
        {
            var addedRecord = await response.Content.ReadFromJsonAsync<StudentDisciplinaryResponsibilityResponse>();
            _studentResponsibilities!.Add(addedRecord!);
        }
    }

    private async Task Update(StudentDisciplinaryResponsibilityResponse record)
    {
        var request = record.ToRequest();
        var response = await HttpClient.PutAsJsonAsync<UpdateStudentStudentDisciplinaryResponsibilityRequest>
            ("api/journal/personalizedaccountingcard/studentdisciplinaryresponsibility/" + record.Id, request);

        if (!response.IsSuccessStatusCode)
        {
            // var updatedRecord = await response.Content.ReadFromJsonAsync<EducationalProcessScheduleRecordResponse>();
            // record = updatedRecord!;
        }
    }

    private async Task Delete(StudentDisciplinaryResponsibilityResponse record)
    {
        var response = await HttpClient.DeleteAsync("api/journal/personalizedaccountingcard/studentdisciplinaryresponsibility/" + record.Id);

        if (response.IsSuccessStatusCode) _studentResponsibilities!.Remove(record);
    }
}
