@page "/"

@using Contracts.Journal
@using Frontend.Components.Buttons
@using Frontend.Services

@attribute [Authorize]

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject APIService APIService

<PageTitle>Журналы</PageTitle>

<h1>Журналы</h1>

@if (_journals == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Группа</th>
                <th>Куратор</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var journal in _journals)
            {
                <tr @onclick='async () => await OpenJournal(journal.Id)' style="cursor: pointer;">
                    <td>@journal.GroupNumber</td>
                    <td>
                        @GetCuratorsFIO(journal)
                    </td>
                    <td>
                        <DownloadButton @onclick="async () => await DownloadWord(journal)" StopPropagation="true" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<JournalResponse>? _journals;

    protected override async Task OnInitializedAsync()
    {
        _journals = await APIService.GetFromJsonAsync<List<JournalResponse>>("api/journal");

        await APIService.GetAsync("api/auth/verify");
    }

    private async Task OpenJournal(int journalId)
    {
        NavigationManager.NavigateTo($"/journal/{journalId}/Title");
    }

    private string GetCuratorsFIO(JournalResponse journal)
    {
        if (journal.Curator == null) return "-";

        return journal.Curator.LastName + ' ' +
               journal.Curator.FirstName + ' ' +
               journal.Curator.MiddleName;
    }

    private async Task DownloadWord(JournalResponse journal)
    {
        await JSRuntime.InvokeVoidAsync("downloadWord", journal.Id, journal.GroupNumber);
    }
}