@page "/ChronicDiseases"

@using Contracts.ChronicDiseases
@using Frontend.Components.Buttons
@using Frontend.Components.Utils
@using Frontend.Services
@using Microsoft.AspNetCore.Components.QuickGrid

@attribute [Authorize]

@inject HttpClient HttpClient
@inject AppState AppState

<PageTitle>Хронические заболевания</PageTitle>

<h1>Хронические заболевания</h1>

@if (_diseases == null || AppState.User == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    @if (_canCRUD)
    {
        <AddButton @onclick="ShowAddModal">Добавить</AddButton>
    }

    <QuickGrid Items="_diseases" class="table">
        <PropertyColumn Property="@(l => l.Name)" Sortable="true" Title="Название" class="align-middle" />
        @if (_canCRUD)
        {
            <TemplateColumn class="text-end">
                <EditButton @onclick="() => ShowEditModal(context)" />
                <DeleteButton @onclick="async () => await Delete(context)" />
            </TemplateColumn>
        }
    </QuickGrid>

    <Modal IsVisible="_isAddModalVisible" OnClose="CloseModal">
        <div class="row">
            <div class="col-md-12">
                <EditForm method="post" Model="DiseaseToAdd" OnValidSubmit="Add" OnInvalidSubmit="ShowErrorAlert" FormName="add" Enhance>
                    <DataAnnotationsValidator />
                    <Alert Type="success" IsVisible="_isSuccessAlertVisible" OnClose="CloseSuccessAlert" />
                    <Alert Type="error" IsVisible="_isErrorAlertVisible" OnClose="CloseErrorAlert">
                        <ValidationSummary />
                    </Alert>
                    <div class="mb-3">
                        <label for="name" class="form-label">Название: </label>
                        <InputText id="name" @bind-Value="DiseaseToAdd.Name" class="form-control" />
                    </div>
                    <AddButton type="submit">Добавить</AddButton>
                </EditForm>
            </div>
        </div>
    </Modal>

    <Modal IsVisible="_isEditModalVisible" OnClose="CloseModal">
        <div class="row">
            <div class="col-md-12">
                <EditForm method="put" Model="DiseaseToEdit" OnValidSubmit="Update" OnInvalidSubmit="ShowErrorAlert" FormName="edit" Enhance>
                    <DataAnnotationsValidator />
                    <Alert Type="success" IsVisible="_isSuccessAlertVisible" OnClose="CloseSuccessAlert" />
                    <Alert Type="error" IsVisible="_isErrorAlertVisible" OnClose="CloseErrorAlert">
                        <ValidationSummary />
                    </Alert>
                    <div class="mb-3">
                        <label for="name" class="form-label">Название: </label>
                        <InputText id="name" @bind-Value="DiseaseToEdit.Name" class="form-control" />
                    </div>
                    <EditButton type="submit">Редактировать</EditButton>
                </EditForm>
            </div>
        </div>
    </Modal>

    <AlertBottom IsVisible="_isServerErrorAlertVisible" OnClose="CloseServerErrorAlert">@_errorMessage</AlertBottom>
}

@code {
    [SupplyParameterFromForm]
    public CreateChronicDiseaseRequest DiseaseToAdd { get; set; } = new("");

    [SupplyParameterFromForm]
    public UpdateChronicDiseaseRequest DiseaseToEdit { get; set; } = new("");
    private int _diseaseToEditId = -1;

    private IQueryable<ChronicDiseaseResponse>? _diseases;

    private bool _isModalVisible = false;
    private bool _isAddModal = true;

    private bool _isAddModalVisible { get => _isModalVisible && _isAddModal; }
    private bool _isEditModalVisible { get => _isModalVisible && !_isAddModal; }

    private bool _isSuccessAlertVisible = false;
    private bool _isErrorAlertVisible = false;

    private bool _isServerErrorAlertVisible = false;
    private string? _errorMessage = "";

    private bool _canCRUD => AppState.User != null && AppState.RolesThatAreAllowedToCreateEntities.Contains(AppState.User.Role.Name);

    protected override async Task OnInitializedAsync()
    {
        AppState.OnUserInitialized += StateHasChanged;

        var diseases = await HttpClient.GetFromJsonAsync<List<ChronicDiseaseResponse>>("api/chronicdisease/");
        if (diseases != null)
            _diseases = diseases.AsQueryable();
    }

    public async Task Add()
    {
        var response = await HttpClient.PostAsJsonAsync<CreateChronicDiseaseRequest>("api/chronicdisease", DiseaseToAdd);

        if (response.IsSuccessStatusCode)
        {
            var added = await response.Content.ReadFromJsonAsync<ChronicDiseaseResponse>();
            _diseases = _diseases!.Append(added!);

            ShowSuccessAlert();
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            _errorMessage = errorMessage.Split('\n').FirstOrDefault();
            ShowServerErrorAlert();
        }
    }

    public async Task Update()
    {
        var request = new UpdateChronicDiseaseRequest(DiseaseToEdit.Name);
        var response = await HttpClient.PutAsJsonAsync<UpdateChronicDiseaseRequest>("api/chronicdisease/" + _diseaseToEditId, request);

        if (response.IsSuccessStatusCode)
        {
            var updated = await response.Content.ReadFromJsonAsync<ChronicDiseaseResponse>();
            var toUpdate = _diseases!.FirstOrDefault(l => l.Id == updated!.Id);

            toUpdate!.Name = updated!.Name;

            ShowSuccessAlert();
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            _errorMessage = errorMessage.Split('\n').FirstOrDefault();
            ShowServerErrorAlert();
        }
    }

    public async Task Delete(ChronicDiseaseResponse disease)
    {
        var response = await HttpClient.DeleteAsync("api/chronicdisease/" + disease.Id);

        if (response.IsSuccessStatusCode)
        {
            _diseases = _diseases!.Where(l => l.Id != disease.Id);
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            _errorMessage = errorMessage.Split('\n').FirstOrDefault();
            ShowServerErrorAlert();
        }
    }

    private void ShowAddModal()
    {
        _isAddModal = true;
        _isModalVisible = true;
    }

    private void ShowEditModal(ChronicDiseaseResponse disease)
    {
        _diseaseToEditId = disease.Id;
        DiseaseToEdit = new UpdateChronicDiseaseRequest(disease.Name);
        _isAddModal = false;
        _isModalVisible = true;
    }

    private void CloseModal()
    {
        DiseaseToAdd = new("");
        _diseaseToEditId = -1;
        DiseaseToEdit = new("");
        _isModalVisible = false;
        CloseSuccessAlert();
        CloseErrorAlert();
        CloseServerErrorAlert();
    }

    private void CloseSuccessAlert() => _isSuccessAlertVisible = false;

    private void ShowSuccessAlert()
    {
        CloseErrorAlert();
        _isSuccessAlertVisible = true;
    }

    private void CloseErrorAlert() => _isErrorAlertVisible = false;

    private void ShowErrorAlert()
    {
        CloseSuccessAlert();
        _isErrorAlertVisible = true;
    }

    private void CloseServerErrorAlert()
    {
        _isServerErrorAlertVisible = false;
        _errorMessage = "";
    }

    private void ShowServerErrorAlert() => _isServerErrorAlertVisible = true;
}